* {
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
    /* border: solid 1px red; */
}

body {
    background-color: black;
}

/* HEADER */

header {
    width: 100%;
    background-color: black;
    position: relative;
    position: fixed;
    top: 0;
    left: 0%;
    margin-bottom: 20px;
    z-index: 1;
}

.user {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
}

.fix-user {
    padding: 5px;
    text-align: center;
    border-radius: 5px;
    margin-left: 5px;
}

/* Utility */
.wt {
    color: white;
}

i {
    color: white;
}

.background-grey {
    background-color: grey;
}

span {
    text-align: center;
}



/* Utility */



/* MAIN */

main {
    /* width: 100vw;
    height: 100vh; */

}

.container-flex {
    width: 100%;
    margin: 60px auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: black;

}

.col {
    max-width: 400px;
    max-height: 300px;
    margin: 5px 5px;
    width: calc(100% / 7 - 16px);


}

.card {
    position: relative;

}

.card img {
    width: 100%;
    height: 200px;
}

.mic-user {
    position: absolute;
    bottom: 10px;
    left: 0;
    background-color: grey;
}

/* FOOTER */

footer {
    width: 100%;
    background-color: rgb(32, 30, 30);
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 10px;
}

.container-ft {
    margin: 0 auto;
}

.row-ft {
    width: 100%;
    display: flex;


}

.col-25 {
    display: flex;
    width: 25%;
   
    align-items: center;
    justify-content: flex-start;
}

.col-50 {
    display: flex;
    width: 50%;
   
    align-items: center;
    justify-content: center;
}




.col-25 ul {
    width: 100%;
    display: flex;
    text-align: center;
    list-style: none;  
    justify-content: flex-start;

}

.col-50 ul {
    width: 100%;
    display: flex;
    text-align: center;
    list-style: none;
    justify-content: center;

}



li {
    align-items: center;
    margin: 0 5px;

}

h6 {
    color: white;
}

h4{
    color: red;
    text-align: center;
   
}

.end {
    width: 100%;
    display: flex;
    text-align: center;
    list-style: none;
    justify-content: center;

    
}