* {
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
    border: solid 1px black;
}

/* HEADER */

header {
    width: 100%;
    height: 50px;
    background-color: black;
    position: relative;
    position: fixed;
    top: 0;
    left: 0%;


}

.user {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
}

/* Utility */
.wt {
    color: white;
}

.background-grey {
    background-color: grey;

}

.margin-l{
    margin-left: 5px;
}

/* Utility */

/* MAIN */

main {
    background-color: bisque;
    width: 100%;
    height: 500px;
}



.padding-5px {
    padding: 5px;
    text-align: center;
    border-radius: 5px;
}