* {
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
    /* border: solid 1px black; */
}

body{
    background-color: blue;
}

/* HEADER */

header {
    width: 100%;
    background-color: black;
    position: relative;
    position: fixed;
    top: 0;
    left: 0%;
    margin-bottom: 20px;
    z-index: 1;
}

.user {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
}

.fix-user {
    padding: 5px;
    text-align: center;
    border-radius: 5px;
    margin-left: 5px;
}

/* Utility */
.wt {
    color: white;
}

.background-grey {
    background-color: grey;
}

/* Utility */



/* MAIN */

main {
    width: 100vw;
    height: 100vh;
    
}

.container-flex {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: bisque;
    
}

.col {
    max-width: 400px;
    max-height: 300px;
    margin: 5px 5px;
    width: calc(100% / 7 - 16px);
   
    
}

.card {
    position: relative;
   
}

.card img {
    width: 100%;
    height: 200px;   
}

.mic-user {
    position: absolute;
    bottom: 10px;
    left: 0;
    background-color: grey;
}  